body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.block {
    width:803px;
	margin:auto;
    height:350px;
}

    button {
        background: red;
        border: 2px solid black;
        padding: 10px;
        color: white;
        font-size: 20px;
        width: 268px;
        margin: -2px;

    }

    #left {
        background-color:blue;
        width:50%;
        float:left;
        height:100%;
        transition: 0.5s;
    }

    #right {
        background-color:green;
        width:50%;
        float:right;
        height:100%;	
        transition: 0.5s;
    }

        img {
            width:90%;
            height:80%;
            margin:20px;
        }